<!doctype html>
<html lang="en">
{{#block "header"}}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Language Exchange</title>
    {{#block "style"}}
    {{/block}}
</head>
{{/block}}
<body>
{{#block "div"}}
{{/block}}

{{#block "nav"}}
<header class="mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Language Exchange</span>
        <div class="mdl-layout-spacer"></div>
        <!-- Tabs -->
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/">채팅방</a>
            <!--<a class="mdl-navigation__link" href="/milestones">Milestones</a>-->
            {{^loginedUser}}
            <a class="mdl-navigation__link" href="/users/login">로그인</a>
            <a class="mdl-navigation__link" href="/users/form">회원가입</a>
            {{/loginedUser}}

            {{#loginedUser}}
            <a class="mdl-navigation__link" href="/users/logout">로그아웃</a>
            <a class="mdl-navigation__link" href="/users/{{id}}/form">내정보</a>
            {{userId}}님 환영합니다.
            {{/loginedUser}}
        </nav>
    </div>
</header>
{{/block}}
<main class="mdl-layout__content">

    {{#block "contents"}}
    {{/block}}

    {{#block "footer"}}
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer--left-section">
            <div class="mdl-logo mdl-color-text--grey-600">
                제작 : 김대숲, 김태수, 성건희
            </div>
        </div>
    </footer>
    {{/block}}
</main>
<div class="mdl-layout__obfuscator"></div>
</div>

<script src="/js/jquery-2.2.0.min.js"></script>
<script src="/js/main.js"></script>
{{#block "script"}}
{{/block}}
</body>
</html>